/* .tag[data-ref="card"]{ */
/*   font-size: 0px; */
/* } */
/* .tag[data-ref="card"]::after{ */
/*   content: "🃏"; */
/*   margin-left: .25em; */
/*   marign-right: .25em; */
/*   font-size: large; */
/* } */

.block-ref .tag {
  display: none;
}

/* canary */

/* .inline { */
/*   color: red; */
/* } */

.image-resize:has(.center), .asset-container:has(.center) {
  display: block;
  margin: 0 auto;
}

.bg-white {
  background-color: white;
}
