/* .tag[data-ref="card"]{ */
/*   font-size: 0px; */
/* } */
/* .tag[data-ref="card"]::after{ */
/*   content: "🃏"; */
/*   margin-left: .25em; */
/*   marign-right: .25em; */
/*   font-size: large; */
/* } */

.block-ref .tag {
  display: none;
  white-space-collapse: collapse;
  margin: 0;
  padding: 0;
}

.block-ref {
  white-space: nowrap;
  overflow: hidden;
  color: red;
}
