@import url('https://logseq.catppuccin.com/ctp-mocha.css');

.tag[data-ref="card"]{
  font-size: 0px;
}
.tag[data-ref="card"]::after{
  content: "🃏";
  margin-left: .25em;
  marign-right: .25em;
  font-size: large;
}

.cp__footer {
  display: none;
}

