{:highlights [{:id #uuid "63835f2e-98ac-4dcf-951d-97ef15fa5768",
               :page 6,
               :position {:bounding {:x1 68,
                                     :y1 286.5,
                                     :x2 580,
                                     :y2 683.5,
                                     :width 616,
                                     :height 805.8084222222222},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1669553965743},
               :properties {:color "yellow"}}
              {:id #uuid "63835f41-8d54-454f-a1cf-44b6d15132d8",
               :page 7,
               :position {:bounding {:x1 77,
                                     :y1 53,
                                     :x2 564,
                                     :y2 205,
                                     :width 616,
                                     :height 805.8084222222222},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1669553984775},
               :properties {:color "yellow"}}
              {:id #uuid "638368d2-5de4-4c63-a6a2-439f3a8af685",
               :page 9,
               :position {:bounding {:x1 113.6875,
                                     :y1 469.0078125,
                                     :x2 499.3992919921875,
                                     :y2 496.78125,
                                     :width 616,
                                     :height 805.8084222222222},
                          :rects ({:x1 113.6875,
                                   :y1 469.0078125,
                                   :x2 225.04290771484375,
                                   :y2 496.0078125,
                                   :width 616,
                                   :height 805.8084222222222}
                                  {:x1 366.7421875,
                                   :y1 469.78125,
                                   :x2 499.3992919921875,
                                   :y2 496.78125,
                                   :width 616,
                                   :height 805.8084222222222}
                                  {:x1 291.65625,
                                   :y1 472.7421875,
                                   :x2 312.7421875,
                                   :y2 495.2421875,
                                   :width 616,
                                   :height 805.8084222222222}),
                          :page 9},
               :content {:text "PROCESSI di CONTEGGIO"},
               :properties {:color "yellow"}}
              {:id #uuid "6383692a-2ea1-4553-8a30-c2a9c3cdd9bf",
               :page 10,
               :position {:bounding {:x1 94,
                                     :y1 277.7890625,
                                     :x2 483.1796875,
                                     :y2 452,
                                     :width 616,
                                     :height 805.8084222222222},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1669556529602},
               :properties {:color "yellow"}}
              {:id #uuid "6384880f-4509-4068-807b-aa3d71541b44",
               :page 12,
               :position {:bounding {:x1 97,
                                     :y1 391,
                                     :x2 572,
                                     :y2 614,
                                     :width 616,
                                     :height 805.8084222222222},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1669629966134},
               :properties {:color "yellow"}}
              {:id #uuid "63848d78-7fb8-4713-85f4-7dbb3b92d636",
               :page 13,
               :position {:bounding {:x1 87.26318993506491,
                                     :y1 499.29651988636346,
                                     :x2 445.39600243506493,
                                     :y2 635.0543323863635,
                                     :width 598.9999999999999,
                                     :height 783.5702027777777},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1669796611665},
               :properties {:color "yellow"}}
              {:id #uuid "63dd1a8e-7d0b-4104-ad83-b808f4c1c95e",
               :page 20,
               :position {:bounding {:x1 83,
                                     :y1 516.3220825195312,
                                     :x2 447.99688720703125,
                                     :y2 636.2002258300781,
                                     :width 613,
                                     :height 801.8840305555556},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1675434643211},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
