{:highlights [{:id #uuid "649d49b9-23c9-40b0-87be-2b307806b067",
               :page 2,
               :position {:bounding {:x1 58,
                                     :y1 544.6000366210938,
                                     :x2 638,
                                     :y2 687.6000366210938,
                                     :width 720,
                                     :height 1091.6102601452078},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1688029624293},
               :properties {:color "yellow"}}
              {:id #uuid "64a4b94d-0070-4a2d-af85-c19e2a770d3c",
               :page 7,
               :position {:bounding {:x1 190.62342834472656,
                                     :y1 975.5798034667966,
                                     :x2 544,
                                     :y2 1087.592346191406,
                                     :width 723,
                                     :height 1096.1586362291464},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1688516953497},
               :properties {:color "yellow"}}
              {:id #uuid "64a4b989-67f4-48b4-b67b-66bd259e071b",
               :page 7,
               :position {:bounding {:x1 437,
                                     :y1 638.60009765625,
                                     :x2 723,
                                     :y2 737.60009765625,
                                     :width 723,
                                     :height 1096.1586362291464},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1688517000287},
               :properties {:color "yellow"}}
              {:id #uuid "64ee5717-cb9b-40d9-9b66-a586754311c9",
               :page 10,
               :position {:bounding {:x1 329,
                                     :y1 795,
                                     :x2 620,
                                     :y2 863,
                                     :width 720,
                                     :height 1091.6102601452078},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1693341462010},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
