{:highlights [{:id #uuid "637e4bd1-09ca-4c2a-acf2-e7da414d9e81",
               :page 84,
               :position {:bounding {:x1 70.3515625,
                                     :y1 705.1796875,
                                     :x2 270.5830383300781,
                                     :y2 725.6796875,
                                     :width 599,
                                     :height 898.4999999999999},
                          :rects ({:x1 70.3515625,
                                   :y1 705.1796875,
                                   :x2 97.04972076416016,
                                   :y2 725.6796875,
                                   :width 599,
                                   :height 898.4999999999999}
                                  {:x1 113.8671875,
                                   :y1 705.1796875,
                                   :x2 270.5830383300781,
                                   :y2 725.6796875,
                                   :width 599,
                                   :height 898.4999999999999}),
                          :page 84},
               :content {:text "2.9 Stochastic Processes"},
               :properties {:color "yellow"}}
              {:id #uuid "637e5388-fc61-45f1-ba74-6dd3bfc9efd7",
               :page 188,
               :position {:bounding {:x1 70.3515625,
                                     :y1 95.4453125,
                                     :x2 238.73988342285156,
                                     :y2 127.4453125,
                                     :width 599,
                                     :height 898.4999999999999},
                          :rects ({:x1 70.3515625,
                                   :y1 95.4453125,
                                   :x2 238.73988342285156,
                                   :y2 127.4453125,
                                   :width 599,
                                   :height 898.4999999999999}),
                          :page 188},
               :content {:text "Markov Chains"},
               :properties {:color "yellow"}}
              {:id #uuid "637f3791-defc-4dbb-b489-61d4ad60f97c",
               :page 192,
               :position {:bounding {:x1 113.4921875,
                                     :y1 245.828125,
                                     :x2 365.83233642578125,
                                     :y2 266.328125,
                                     :width 596.9999999999999,
                                     :height 895.4999999999999},
                          :rects ({:x1 113.4921875,
                                   :y1 245.828125,
                                   :x2 365.83233642578125,
                                   :y2 266.328125,
                                   :width 596.9999999999999,
                                   :height 895.4999999999999}),
                          :page 192},
               :content {:text "Chapman−Kolmogorov Equations"},
               :properties {:color "yellow"}}
              {:id #uuid "637f50f9-31f2-42a5-8a95-4e4b6530260d",
               :page 199,
               :position {:bounding {:x1 98.6015625,
                                     :y1 752.3828125,
                                     :x2 275.2704162597656,
                                     :y2 772.8828125,
                                     :width 596.9999999999999,
                                     :height 895.4999999999999},
                          :rects ({:x1 98.6015625,
                                   :y1 752.3828125,
                                   :x2 275.2704162597656,
                                   :y2 772.8828125,
                                   :width 596.9999999999999,
                                   :height 895.4999999999999}),
                          :page 199},
               :content {:text "Classification of States"},
               :properties {:color "yellow"}}
              {:id #uuid "637f57db-e5a9-4a62-8aec-53d985f9b3f4",
               :page 202,
               :position {:bounding {:x1 -0.00600433349609375,
                                     :y1 541.5,
                                     :x2 597.008544921875,
                                     :y2 579.7909545898438,
                                     :width 596.9999999999999,
                                     :height 895.4999999999999},
                          :rects ({:x1 0,
                                   :y1 541.5,
                                   :x2 0,
                                   :y2 562.5,
                                   :width 596.9999999999999,
                                   :height 895.4999999999999}
                                  {:x1 162.35482788085938,
                                   :y1 542.885986328125,
                                   :x2 597.008544921875,
                                   :y2 562.151611328125,
                                   :width 596.9999999999999,
                                   :height 895.4999999999999}
                                  {:x1 -0.00600433349609375,
                                   :y1 559.5409545898438,
                                   :x2 146.76040649414062,
                                   :y2 579.7909545898438,
                                   :width 596.9999999999999,
                                   :height 895.4999999999999}),
                          :page 202},
               :content {:text "If state i is recurrent, and state i communicates with state j, then state j is recurrent."},
               :properties {:color "yellow"}}
              {:id #uuid "638243e8-7e23-427c-b475-697d4264f3cd",
               :page 283,
               :position {:bounding {:x1 93.484375,
                                     :y1 82.6640625,
                                     :x2 301.9850769042969,
                                     :y2 102.1640625,
                                     :width 566,
                                     :height 849},
                          :rects ({:x1 93.484375,
                                   :y1 82.6640625,
                                   :x2 301.9850769042969,
                                   :y2 102.1640625,
                                   :width 566,
                                   :height 849}),
                          :page 283},
               :content {:text "The Exponential Distribution"},
               :properties {:color "yellow"}}
              {:id #uuid "638243ee-14dc-4dd7-bca6-70b512bd17c4",
               :page 283,
               :position {:bounding {:x1 93.484375,
                                     :y1 82.6640625,
                                     :x2 301.9850769042969,
                                     :y2 102.1640625,
                                     :width 566,
                                     :height 849},
                          :rects ({:x1 93.484375,
                                   :y1 82.6640625,
                                   :x2 301.9850769042969,
                                   :y2 102.1640625,
                                   :width 566,
                                   :height 849}),
                          :page 283},
               :content {:text "The Exponential Distribution"},
               :properties {:color "yellow"}}
              {:id #uuid "638243f7-5db5-40a8-8cb0-8b91310d213e",
               :page 283,
               :position {:bounding {:x1 93.484375,
                                     :y1 82.6640625,
                                     :x2 301.9850769042969,
                                     :y2 102.1640625,
                                     :width 566,
                                     :height 849},
                          :rects ({:x1 93.484375,
                                   :y1 82.6640625,
                                   :x2 301.9850769042969,
                                   :y2 102.1640625,
                                   :width 566,
                                   :height 849}),
                          :page 283},
               :content {:text "The Exponential Distribution"},
               :properties {:color "yellow"}}
              {:id #uuid "63824401-2264-4492-be68-c338aa97a3e3",
               :page 283,
               :position {:bounding {:x1 93.484375,
                                     :y1 82.6640625,
                                     :x2 301.9850769042969,
                                     :y2 102.1640625,
                                     :width 566,
                                     :height 849},
                          :rects ({:x1 93.484375,
                                   :y1 82.6640625,
                                   :x2 301.9850769042969,
                                   :y2 102.1640625,
                                   :width 566,
                                   :height 849}),
                          :page 283},
               :content {:text "The Exponential Distribution"},
               :properties {:color "yellow"}}
              {:id #uuid "63835f8e-5b45-4ce8-873b-da35f38dd435",
               :page 292,
               :position {:bounding {:x1 0,
                                     :y1 158,
                                     :x2 556.984375,
                                     :y2 313.9765625,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 177.5,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 452.8418273925781,
                                   :y1 280.4375,
                                   :x2 556.984375,
                                   :y2 296.4375,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 487.5234375,
                                   :y1 286.21875,
                                   :x2 493.29443359375,
                                   :y2 297.015625,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 72.3515625,
                                   :y1 297.4765625,
                                   :x2 347.859375,
                                   :y2 313.9765625,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 292},
               :content {:text "that X1 + · · · + X n has a gamma distribution with parameters n and λ"},
               :properties {:color "yellow"}}
              {:id #uuid "6383624e-8dab-4e7f-bc75-50cb4ba66b06",
               :page 293,
               :position {:bounding {:x1 86.6484375,
                                     :y1 176.125,
                                     :x2 267.8489990234375,
                                     :y2 192.703125,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 86.6484375,
                                   :y1 176.125,
                                   :x2 267.8489990234375,
                                   :y2 192.625,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 173.4921875,
                                   :y1 181.90625,
                                   :x2 178.890625,
                                   :y2 192.703125,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 223.34375,
                                   :y1 181.90625,
                                   :x2 228.90245056152344,
                                   :y2 192.703125,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 293},
               :content {:text "P{minimum(X1, . . . , X n ) > x}"},
               :properties {:color "yellow"}}
              {:id #uuid "63836594-8030-4a1a-a667-07da62a98548",
               :page 292,
               :position {:bounding {:x1 102.0078125,
                                     :y1 682.515625,
                                     :x2 175.6188507080078,
                                     :y2 699.09375,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 102.0078125,
                                   :y1 682.515625,
                                   :x2 175.6188507080078,
                                   :y2 699.015625,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 127.90625,
                                   :y1 688.296875,
                                   :x2 133.9218292236328,
                                   :y2 699.09375,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 163.7734375,
                                   :y1 688.296875,
                                   :x2 169.171875,
                                   :y2 699.09375,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 292},
               :content {:text "P{X1 < X2}"},
               :properties {:color "yellow"}}
              {:id #uuid "638365d9-341f-4f2a-8eb4-5b053b4a3aed",
               :page 295,
               :position {:bounding {:x1 0,
                                     :y1 46,
                                     :x2 179.984375,
                                     :y2 158.9921875,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 0,
                                   :y1 46,
                                   :x2 0,
                                   :y2 65.5,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 81.5,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 97.5,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 96.4921875,
                                   :y1 113.8125,
                                   :x2 100.4453125,
                                   :y2 130.3125,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 86.6484375,
                                   :y1 134.5859375,
                                   :x2 94.5546875,
                                   :y2 150.5859375,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 106.359375,
                                   :y1 134.5859375,
                                   :x2 179.984375,
                                   :y2 150.5859375,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 115.984375,
                                   :y1 140.3671875,
                                   :x2 119.74040222167969,
                                   :y2 151.1640625,
                                   :width 616,
                                   :height 923.9999999999999}
                                  {:x1 149.734375,
                                   :y1 146.9921875,
                                   :x2 154.0189208984375,
                                   :y2 158.9921875,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 295},
               :content {:text "P[ X i = min j X j"},
               :properties {:color "yellow"}}
              {:id #uuid "63836c72-87ed-476c-b3ba-7f3dac653ff4",
               :page 303,
               :position {:bounding {:x1 284.34375,
                                     :y1 179.5703125,
                                     :x2 406.88140869140625,
                                     :y2 195.5703125,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 284.34375,
                                   :y1 179.5703125,
                                   :x2 406.88140869140625,
                                   :y2 195.5703125,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 303},
               :content {:text "stationary increments"},
               :properties {:color "yellow"}}
              {:id #uuid "63836c7c-2ad4-4f7b-a155-ce0e82b87f68",
               :page 303,
               :position {:bounding {:x1 284.34375,
                                     :y1 179.5703125,
                                     :x2 406.88140869140625,
                                     :y2 195.5703125,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 284.34375,
                                   :y1 179.5703125,
                                   :x2 406.88140869140625,
                                   :y2 195.5703125,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 303},
               :content {:text "stationary increments"},
               :properties {:color "yellow"}}
              {:id #uuid "63836c82-99f8-484e-a09e-39d4906b0b63",
               :page 303,
               :position {:bounding {:x1 284.34375,
                                     :y1 179.5703125,
                                     :x2 406.88140869140625,
                                     :y2 195.5703125,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 284.34375,
                                   :y1 179.5703125,
                                   :x2 406.88140869140625,
                                   :y2 195.5703125,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 303},
               :content {:text "stationary increments"},
               :properties {:color "yellow"}}
              {:id #uuid "63836c84-e4cc-4455-ac56-5e7dd29a8d70",
               :page 303,
               :position {:bounding {:x1 344.2176513671875,
                                     :y1 179.56591796875,
                                     :x2 406.8766174316406,
                                     :y2 195.56591796875,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 344.2176513671875,
                                   :y1 179.56591796875,
                                   :x2 406.8766174316406,
                                   :y2 195.56591796875,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 303},
               :content {:text "stationary increments"},
               :properties {:color "yellow"}}
              {:id #uuid "63836c92-c608-467a-ac1b-2164c9f19f02",
               :page 303,
               :position {:bounding {:x1 284.34375,
                                     :y1 179.5703125,
                                     :x2 406.88140869140625,
                                     :y2 195.5703125,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 284.34375,
                                   :y1 179.5703125,
                                   :x2 406.88140869140625,
                                   :y2 195.5703125,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 303},
               :content {:text "stationary increments"},
               :properties {:color "yellow"}}
              {:id #uuid "63836c96-523c-47f2-a073-7caed36aa26d",
               :page 303,
               :position {:bounding {:x1 344.222412109375,
                                     :y1 179.5703125,
                                     :x2 406.88140869140625,
                                     :y2 195.5703125,
                                     :width 616,
                                     :height 923.9999999999999},
                          :rects ({:x1 344.222412109375,
                                   :y1 179.5703125,
                                   :x2 406.88140869140625,
                                   :y2 195.5703125,
                                   :width 616,
                                   :height 923.9999999999999}),
                          :page 303},
               :content {:text "increments"},
               :properties {:color "yellow"}}
              {:id #uuid "63870e97-fa61-41af-973c-7d80eb73eee8",
               :page 303,
               :position {:bounding {:x1 261.6471252441406,
                                     :y1 463.5859375,
                                     :x2 469.7898864746094,
                                     :y2 479.5859375,
                                     :width 599,
                                     :height 898.4999999999999},
                          :rects ({:x1 261.6471252441406,
                                   :y1 463.5859375,
                                   :x2 469.7898864746094,
                                   :y2 479.5859375,
                                   :width 599,
                                   :height 898.4999999999999}),
                          :page 303},
               :content {:text "concept of a function f (·) being o(h)"},
               :properties {:color "yellow"}}
              {:id #uuid "6387121a-79e5-4e12-8ff2-17d11e8ccbf7",
               :page 306,
               :position {:bounding {:x1 122.9375,
                                     :y1 431.703125,
                                     :x2 399.7434387207031,
                                     :y2 449.203125,
                                     :width 599,
                                     :height 898.4999999999999},
                          :rects ({:x1 122.9375,
                                   :y1 431.703125,
                                   :x2 399.7434387207031,
                                   :y2 449.203125,
                                   :width 599,
                                   :height 898.4999999999999}),
                          :page 306},
               :content {:text "Interarrival and Waiting Time Distributions"},
               :properties {:color "yellow"}}],
 :extra {:page 188}}
