{:highlights [{:id #uuid "64a4ab5c-5868-41a6-b80b-7c930b300497",
               :page 14,
               :position {:bounding {:x1 74,
                                     :y1 260.201171875,
                                     :x2 940,
                                     :y2 996.201171875,
                                     :width 951.0851306860176,
                                     :height 1343.647114157092},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1688513371367},
               :properties {:color "yellow"}}
              {:id #uuid "64a4b157-6b9b-46d7-874d-59b7f79f835f",
               :page 15,
               :position {:bounding {:x1 50,
                                     :y1 370.400390625,
                                     :x2 767,
                                     :y2 1049.400390625,
                                     :width 951.0851306860176,
                                     :height 1343.647114157092},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1688514901599},
               :properties {:color "yellow"}}
              {:id #uuid "64fb2603-61fc-4c7a-ad22-52f4fef941ef",
               :page 16,
               :position {:bounding {:x1 340.59686279296875,
                                     :y1 553.7099609375,
                                     :x2 554.0844116210938,
                                     :y2 649.5880737304688,
                                     :width 720.8224148357185,
                                     :height 1018.3430759927434},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1694180871233},
               :properties {:color "yellow"}}
              {:id #uuid "64fb2882-fd36-4d9d-935f-0b2b20bb3f73",
               :page 9,
               :position {:bounding {:x1 77.9625015258789,
                                     :y1 369.17501831054693,
                                     :x2 314.4984436035156,
                                     :y2 448.06564331054693,
                                     :width 529,
                                     :height 747.3456375838927},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1694181521395},
               :properties {:color "yellow"}}
              {:id #uuid "64fb296b-1892-4162-a79e-f4cb196b9be0",
               :page 10,
               :position {:bounding {:x1 99.2249984741211,
                                     :y1 308.59228515625,
                                     :x2 279.00001525878906,
                                     :y2 365.59228515625,
                                     :width 529,
                                     :height 747.3456375838927},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1694181743152},
               :properties {:color "yellow"}}
              {:id #uuid "64fb2ac3-3a37-4c5f-8cc6-8b79facc4bde",
               :page 11,
               :position {:bounding {:x1 26,
                                     :y1 331.2001953125,
                                     :x2 398,
                                     :y2 484.2001953125,
                                     :width 529,
                                     :height 747.3456375838927},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1694182082234},
               :properties {:color "yellow"}}
              {:id #uuid "64fdd17b-2e96-4e94-a7e7-953af6627a8e",
               :page 27,
               :position {:bounding {:x1 20,
                                     :y1 13.400390625,
                                     :x2 544.1984519958496,
                                     :y2 768.6410522460938,
                                     :width 547,
                                     :height 772.775167785235},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1694355884043},
               :properties {:color "yellow"}}
              {:id #uuid "64fdd7b2-ab64-48bf-8068-e52d167122cd",
               :page 26,
               :position {:bounding {:x1 6,
                                     :y1 422.599609375,
                                     :x2 50,
                                     :y2 471.599609375,
                                     :width 547,
                                     :height 772.775167785235},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1694357424394},
               :properties {:color "purple"}}
              {:id #uuid "64fde326-7e0d-40d1-b9d4-15d51aec5571",
               :page 24,
               :position {:bounding {:x1 10,
                                     :y1 17.201171875,
                                     :x2 58,
                                     :y2 59.201171875,
                                     :width 547,
                                     :height 772.775167785235},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1694360357335},
               :properties {:color "yellow"}}],
 :extra {:page 26}}
