{:highlights [{:id #uuid "64a504ea-8996-48b7-8ff6-2ff957969c4d",
               :page 25,
               :position {:bounding {:x1 138,
                                     :y1 290.400390625,
                                     :x2 597,
                                     :y2 392.400390625,
                                     :width 735,
                                     :height 951.1764705882352},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1688536296974},
               :properties {:color "yellow"}}
              {:id #uuid "64a505f3-937d-43c0-b9af-e6d900f68c49",
               :page 20,
               :position {:bounding {:x1 140,
                                     :y1 433.201171875,
                                     :x2 598,
                                     :y2 473.201171875,
                                     :width 735,
                                     :height 951.1764705882352},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1688536562189},
               :properties {:color "yellow"}}],
 :extra {:page 38}}
